.header-detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
    border-bottom: 1px solid gray;
}

.header-detail > div {
    display: flex;
    width: 60%;
}

.header-detail > div > p {
    font-size: 1.8rem;
    font-weight: bold;
}

.book-section-all-info {
    display: flex;
    background-color: #E8E8E8;
    min-width: 50%;
    max-width: 60%;
    align-self: center;
    flex-direction: column;
    padding: 0.5rem;
    margin: 1rem;
    border-radius: 10px;
}

.title {
    font-size: 1.6rem;
    text-align: center;
    
}

.imgbook {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.imgbook > img {
    width: 40%;
    height: 40%;
    align-self: center;
}
